opencv-python==4.10.0.84
easyocr==1.7.1
filterpy==1.4.5
matplotlib==3.7.5
opencv-contrib-python==4.10.0.84
prettytable==3.11.0
scikit-image==0.21.0
SQLAlchemy==2.0.34
ultralytics==8.2.81
lap==0.4.0
psycopg2==2.9.9


